<div class="about-me-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box box-wide" style="text-align: center">
    <mat-card-title style="text-align: center">Sobre mi</mat-card-title>
    <mat-card-content>
      <img
        mat-card-xl-image
        src="https://avatars.githubusercontent.com/u/47386056?v=4"
        SameSite="Strict"
        alt="profile picture"
        class="rounded-circle"
        style="margin-top: 20px; margin-bottom: 50px"
      />
      <p>
        Mi nombre es Julián Agustín Sbaglia, tengo 24 años y este es mi Trabajo
        Práctico para Laboratorio IV - UTN Fra.
      </p>
      <p>
        Mi juego propio consiste en mejorar la velocidad de escritura. Se
        presetarán distintas palabras y solo superando cierta velocidad
        establecida de escritura podrás sumar puntos.
      </p>
    </mat-card-content>
  </mat-card>
</div>
