<div class="tileDiv">
  <div class="mat-display-3" style="margin: 10px 10px; text-align: center">
    Bienvenido a la Sala de Juegos!
  </div>
  <mat-grid-list cols="4" rowHeight="1:1.3" gutterSize="50px">
    <mat-grid-tile *ngFor="let game of games">
      <mat-card>
        <mat-card-title>{{ game.name }}</mat-card-title>
        <mat-card-content>
          <img mat-card-xl-image [src]="game.img" SameSite="Strict" />
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="accent" (click)="navigateToGame(game)">
            Jugar!
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
