<mat-toolbar color="primary" class="app-header">
    <div>
      <a routerLink="home" routerLinkActive="router-link-active"  class="aboutme">Home</a>
    </div>
    <div class="nav-tool-items">
      <a *ngIf="auth.isAdmin" mat-button mat-raised-button color="accent" routerLink="surveys" routerLinkActive="router-link-active"  class="nav-bar-items">Encuestas!</a>
      <a mat-button mat-raised-button color="basic" routerLink="home" routerLinkActive="router-link-active"  class="nav-bar-items">Juegos</a>
      <a mat-button mat-raised-button color="basic" routerLink="chatroom" routerLinkActive="active" class="nav-bar-items">
        Chat
      </a>
      <a mat-button mat-raised-button color="basic" routerLink="leaderboards" routerLinkActive="active" class="nav-bar-items">
        Puntajes
      </a>
      
      
      <mat-menu #appMenu="matMenu" xPosition="before" yPosition="below">
          <button mat-menu-item routerLink="submit-survey" routerLinkActive="active">Completar encuesta</button>
          <button mat-menu-item routerLink="my-profile" routerLinkActive="active">Mi perfil</button>
          <hr>
          <button mat-menu-item (click)="handleLogOut()" class="">
            <strong>

              Cerrar sesión
            </strong>
          </button>
        </mat-menu>
        <button mat-raised-button [matMenuTriggerFor]="appMenu" class="nav-bar-items" color="warn">
          <mat-icon>create</mat-icon>
          {{auth.currentUser?.displayName || 'User'}}
        </button>     
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>