<mat-card style="text-align: center">
  <mat-card-title-group style="justify-content: center">
    <mat-card-title>Error 404: pagina no encontrada</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <img
      mat-card-xl-image
      src="../../../assets/images/red-cross.png"
      style="margin-top: 50px; margin-bottom: 50px"
    />
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button (click)="redirectToHome()">Volver al inicio</button>
  </mat-card-actions>
</mat-card>
